<div class="logos_slider">
    <div class="overflow">
        <div class="logos-wrapper">
            <div class="logo_item">
                <%= image_tag("client-1.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-2.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-3.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-4.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-5.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-6.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-1.png", alt: "", class: "image-slider")%>
            </div>
        </div>
        <div class="logos-wrapper">
            <div class="logo_item">
                <%= image_tag("client-1.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-2.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-3.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-4.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-5.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-6.png", alt: "", class: "image-slider")%>
            </div>
            <div class="logo_item">
                <%= image_tag("client-1.png", alt: "", class: "image-slider")%>
            </div>
        </div>
    </div>
</div>