<section id="firstSection">
    <div class="container">
        <%= image_tag("gems.png", alt: "", id: "diamantes")%>
        <h1>Web Development, Data Science and Business Consulting</h1>
        <p>Boosting your business with technology and data analysis!</p>
        <button style="margin-bottom: 50px">Get Started</button>
    </div>
</section>

<section >
       <%= render 'pages/services'%>
</section>

<section>
    <div class="container reveal">
        <div class="row second-section-row">
            <div class="col" id="take-look">
                <h2>Jump Ahead!</h2>
                <p>Enhance your online presence, make data-driven decisions and achieve your goals with our team of experts. Start with us and capitalize on success!</p>
                <button>Appointment</button>
            </div>
            <div class="col">
                <%= image_tag("feature-1.png", alt: "") %>
            </div>
        </div>
    </div>
</section>

<section>
    <%= render 'pages/pricings'%>
</section>

<section class="partners_section">
    <%= render 'pages/brands'%>
</section>

<section>
    <%= render 'pages/contactForm'%>
</section>