<section id="firstSection">
    <div class="container">
        <%= image_tag("gems.png", alt: "", id: "diamantes")%>
        <h1>A New Way To Start Bussiness</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sunt reiciendis illum enim cumque impedit, nostrum reprehenderit qui ut veniam.</p>
        <button style="margin-bottom: 50px">Get Started</button>
    </div>
</section>

<section >
       <%= render 'pages/services'%>
</section>

<section>
    <div class="container reveal">
        <div class="row second-section-row">
            <div class="col" id="take-look">
                <h2>Take a look inside</h2>
                <p>Te iisque labitur eos, nec sale argumentum scribentur no, augue disputando in vim. Erat fugit sit at, ius lorem deserunt deterruisset no.</p>
                <button>Learn More</button>
            </div>
            <div class="col">
                <%= image_tag("feature-1.png", alt: "") %>
            </div>
        </div>
    </div>
</section>

<section>
    <%= render 'pages/pricings'%>
</section>

<section class="partners_section">
    <%= render 'pages/brands'%>
</section>

<section>
    <%= render 'pages/contactForm'%>
</section>