<section id="firstSection">
    <div class="container">
        <%= image_tag("gems.png", alt: "", id: "diamantes")%>
        <h1>Web Development, Data Science and Business Consulting</h1>
        <p>Boosting your business with technology and data analysis!</p>
        <button style="margin-bottom: 50px">Get Started</button>
    </div>
</section>

<section >
       <%= render 'pages/services'%>
</section>

<section>
    <div class="container reveal">
        <div class="row second-section-row">
            <div class="col" id="take-look">
                <h2>Give us a try!</h2>
                <p>Let's have a meeting to understand your requirements and give you a high-quality project scope with a very competitive price.</p>
                <a href="https://calendly.com/gemhack/30min"><button>Make an Appointment Now!</button></a>
            </div>
            <div class="col">
                <%= image_tag("feature-1.png", alt: "") %>
            </div>
        </div>
    </div>
</section>

<section>
    <%= render 'pages/pricings'%>
</section>

<section class="partners_section">
    <%= render 'pages/brands'%>
</section>

<section>
    <%= render 'pages/contactForm'%>
</section>