<!DOCTYPE html>
<html>
  <head>
    <title>Gemhack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="encabezado">
      <%= render 'layouts/navigation' %>
    </header>

    <%= yield %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <footer class="bg-dark py-5 mt-2">
      <%=render 'layouts/footer'%>
    </footer>

  </body>
</html>
